.gh-info {
  .gh-repo {
    animation: animation-li-add 0.4s ease-out forwards;
    background: $component-bg;
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    margin: 15px 0 5px;
    opacity: 0;
    padding: 0 15px 5px;

    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    h3 {
      flex: 1 1 80%;
      font-size: 20px;
    }

    .gh-repo__stargazers {
      align-self: center;
    }

    .gh-repo__language {
      flex: 1 1 50%;
      font-size: 11px;
    }

    a {
      font-size: 11px;
    }
  }
}

@keyframes animation-li-add {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
