#terminal {
  background: rgb(47,52,63);
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  height: 350px;
  padding: 10px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .blue {
    color: $blue;
  }

  .teal {
    color: $teal;
  }

  .yellow {
    color: $yellow;
  }

  .red {
    color: $red;
  }
}

#terminal-content li {
  list-style-type: none;
}

#terminal-input {
  span {
    display: inline-block;
    width: 2%;
  }

  input {
    background: none;
    border: none;
    outline: 0;
    width: 98%;
  }
}
