#terminal {
  background: rgb(47,52,63);
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  height: 350px;
  padding: 10px;
  overflow-y: scroll;
  word-wrap: break-word;

  &::-webkit-scrollbar {
    display: none;
  }

  .blue {
    color: $blue;
  }

  .teal {
    color: $teal;
  }

  .yellow {
    color: $yellow;
  }

  .red {
    color: $red;
  }
}

#terminal-content li {
  list-style-type: none;
}

#terminal-input {
  input {
    background: none;
    border: none;
    outline: 0;
    margin-left: 4px;
    padding-bottom: 10px;
    width: 94%;
  }
}
