@import 'external/bootstrap';
@import 'variables';

@import 'github';
@import 'navigation';
@import 'terminal';

body {
  background: rgb(32,37,48);
  color: $color-text;
  font-family: 'Roboto', sans-serif;
}

.logo {
    color: $teal;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 15px 5px;
}
