@import 'external/bootstrap';
@import 'variables';
@import 'mixins';
@import 'feed';
@import 'footer';
@import 'form';
@import 'github';
@import 'navigation';
@import 'terminal';

body {
  background: $color-bg;
  color: $color-text;
  font-family: 'Roboto', sans-serif;
}

.logo {
  color: $teal;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 15px 5px;
}

h1 {
  font-size: 32px;
}

h2 {
  border-bottom: 1px dashed $color-text;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: normal;
  line-height: 0;
  padding: 0;
  text-align: center;

  span {
    background: $color-bg;
  }

  .red {
    color: $red;
  }
}

a {
  color: $blue;

  &:hover {
    color: $blue;
  }
}
